# nested for loop

In [1]:
for i in range(1,21) :
 print (f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

In [2]:
colors = ["Red" , "Blue"]
sizes = ["Small", "Medium", "Large"]

for color in colors :
    for size in sizes :
        print (f'size : {size}, color : {color}')


#size : Small, color : Red
#size : Small, color : Red
#size : Small, color : Red
#size : Large, color : blue
#size : Large, color : blue
#size : Large, color : blue

size : Small, color : Red
size : Medium, color : Red
size : Large, color : Red
size : Small, color : Blue
size : Medium, color : Blue
size : Large, color : Blue

In [ ]:
# print those city having all charcters unique (not repetitive)
cities = ['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']

In [4]:
for city in cities:
    charcount = True
    for char in city:
        if city.lower().count(char) > 1:
             charcount = False
             break
        #if charactercount == True
    if charcount:
            print(city)

lahore

In [5]:
for char in "karachi":
    print (char)

k
a
r
a
c
h
i

In [6]:
cities

['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']

# while loop

In [7]:
flag = True
# while condition 
while flag : 
    country = input("Enter your country name: ").lower()

    if country == 'pakistan' :
        print (' you are eligible for pakistan')
        flag = False
    else:
        print (f'this country {country} is not eligible')

this country  is not eligible
this country  is not eligible
this country  is not eligible
this country  is not eligible
this country  is not eligible
this country  is not eligible
this country  is not eligible
this country  is not eligible
 you are eligible for pakistan

problem

In [8]:
#input 3,3 
#output =9

In [9]:
lenght = float(input('Enter lenght'))
width = float(input('Enter width')) 

if lenght == width :
    print (lenght * width)
else: 
    print (2* (lenght + width))

9.0

In [10]:
# input 6,10 output = 32

In [11]:
lenght = float(input('Enter lenght'))
width = float(input('Enter width')) 

if lenght == width :
    print (lenght * width)
else: 
    print (2* (lenght + width))

32.0

In [15]:
for i in range (1,21):
    print (f'4 x{i} = {4*i}')

4 x1 = 4
4 x2 = 8
4 x3 = 12
4 x4 = 16
4 x5 = 20
4 x6 = 24
4 x7 = 28
4 x8 = 32
4 x9 = 36
4 x10 = 40
4 x11 = 44
4 x12 = 48
4 x13 = 52
4 x14 = 56
4 x15 = 60
4 x16 = 64
4 x17 = 68
4 x18 = 72
4 x19 = 76
4 x20 = 80