In [49]:
flag = True
# while condition
while flag:
    country = input('Enter your country name: ').lower()
    country = country[:8]
    if country == 'pakistan':
        print('You are eligible for cnic')
        flag = False
    else:
        print(f'This country {country} is not eligible')

You are eligible for cnic

# Functions

A piece of code can be reused ( whenever we want )

In [50]:
def apna_function():
    flag = True
# while condition
    while flag:
     country = input('Enter your country name: ').lower()
    country = country[:8]
    if country == 'pakistan':
        print('You are eligible for cnic')
        flag = False
    else:
        print(f'This country {country} is not eligible')

case 1

In [51]:
# print those city having all charcters unique (not repetitive)
cities = ['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']

case 2

In [52]:
def get_cities():
    cities = ['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']
    return cities

In [53]:
variable = get_cities()

In [54]:
variable

['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']

In [59]:
def get_uniique_char_city(cities_paramter):
     for city in cities_paramter:
         charcount = True
     for char in city:
        if city.lower().count(char) > 1:
             charcount = False
             break
        #if charactercount == True
     if charcount:
            print(city)

In [60]:
variable = get_cities()

In [61]:
variable

['Karachi', 'lahore', 'quetta', 'Dadu', 'Muree']

In [62]:
get_uniique_char_city(variable)

In [2]:
# def add(paramter 1 , paramter2) --> when creating function

In [3]:
def add (a, b) :
    return a + b

In [4]:
# add(argument1 , argument 2) ----> When calling / using functions

add(3,4)

7

In [ ]:

def mul(c ,d):
    return ( c * d)

In [66]:
mul(4 ,4)

16

In [ ]:
#write a functions which take a list of numbers and returns two list 
# one is even number and other one is odd_no 
# input = [1 , 2 ,3 , 4, 5 , 6, 7, 8, 9 ,10]
#output:
#      [2 ,4 ,6 ,8,1]
#      [1 ,3 , 5, 7 , 9]

In [ ]:
# def get_even_odd(numbers) :
 #   even = []
  #  odd = []
   #    if num % 2 == 0 :
    #        even.append(num)
     #   else:
      #      odd.append(num)
       # print (even, odd, sep="\n")

In [11]:
def get_even_odd(numbers):
    even =[]
    odd = []
    for num in  numbers:
        if num % 2 == 0:
            even.append(num)
        else:
            odd .append(num)
            
    print (even, odd, sep="\n")

In [6]:
get_even_odd([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]