#ipynb stand for interactive python note book

BASIC DATA TYPE :
#string 
#float
#integer
#boolean

In [3]:
fname= 'Sahil'
lname= 'Mobeen'
print (fname,lname)
print (fname)
print (lname)

Sahil Mobeen
Sahil
Mobeen

user input using input fuction

In [6]:
value= input('enter any value')

In [9]:
print(value)
print (type(value))

10
<class 'str'>

In [11]:
fname = input("enter first name")
lname = input('enter second name')

In [13]:
print (fname)
print (lname)

sahil
sumair

In [14]:
print (type(fname))
print (type(lname))

<class 'str'>
<class 'str'>

In [17]:
num1 = input('first num')
print(num1)
print (type(num1))

2010
<class 'str'>

In [19]:
num1 = int(input("enter first num"))
print (num1)
print(type(num1))

2010
<class 'int'>

In [25]:
print ("2+3")
print (2+3) #concatenation
print('+') #concatenation

2+3
5
+

TYPE CASTING

In [29]:
num = ('2+3')
print (num,type(num))

2+3 <class 'str'>

In [30]:
num = int("2")
print (num,type(num))

2 <class 'int'>

In [32]:
num = ('2.03')
print (num,type(num))

2.03 <class 'str'>

In [33]:
num = float('2.03')
print (num , type(num))

2.03 <class 'float'>

In [35]:
num = 20 
result = str(num)
print('the value of reult is', result , 'and type of result is', type(result))

the value of reult is 20 and type of result is <class 'str'>

BOOLEAN

In [38]:
print (bool(0))
print (bool(-39))
print (bool(3480))

False
True
True

STRING

In [2]:
num = "3"
result = str(num)
print ('the value of resul is ', result , 'and the type of result is ', type(result),)

the value of resul is  3 and the type of result is  <class 'str'>

String formating

In [ ]:
num = 3
print ('the value of result is ' , num , ('and the type of reult is ') , type(result))
print (f'the value of result is {num} and the type of reult is {type(result)}') #string formating

the value of result is  3 and the type of reult is  <class 'str'>
the value of result is 3 and the type of reult is <class 'str'>

In [13]:
age = 15 
course = 'python'
campus ='smit'
print (f'i am {age} years old and i study {course} in {campus} gulshan campus'  )

i am 15 years old and i study python in smit gulshan campus

In [15]:
print  ('this is end of class ')

this is end of class